* {
    box-sizing: border-box;
}

/* -- DEBUG ZONE --  */
/* General debug button styling */
.debugButton {
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Two color variations of the debug buttons (Controlled in React states) */
.buttonOn {
    background-color: var(--debug-button-red);
}

.buttonOff {
    background-color: var(--debug-button-green);
}

.debugZone {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--debug-card-background);
    border: 2px dashed black;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 32px;
}

/* Progress tracker container */
.progressContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 0;
}

/* TEMP */
.progressContainer > li {
    padding-inline-start: 10px;
    list-style-position: inside;
}

/* Villager cards container */
.villagerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

/* Simple debug cards for displaying information */
.debugCard {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 4px solid var(--border-color);
    border-radius: 8px;
    padding: 1rem;
}

.villagerPortrait {
    width: 150px;
    height: 150px;
    border: 1px solid var(--border-color);
}

.giftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Grid-layout for the debug cards */
.giftGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
}

.giftList {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
}

.itemIcon {
    width: 32px;
    height: 32px;
}